.navbar {
    background-color: rgba(33, 90, 108, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
  
.title {
    font-size: 1.5em;
    margin-top: 4px;
}

.links {
    display: flex;
    align-items: center; /* Center vertically */
}
  
a{
    color: white;
    margin-right: 15px;
    text-decoration: none;    
    border:rgb(147, 178, 204) double;
    border-right:rgba(33, 90, 108, 1);
    border-left:rgba(33, 90, 108, 1);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
  
a:hover{
    color: rgb(147, 178, 204);
}