<app-nav-bar></app-nav-bar>
<body>
    <div class="main">
        <div class="middle_box">
            Passport Number <span class="letterspacing"> <input class="passportno" type="text" [(ngModel)] = "user.Passport_No" placeholder="Enter Passport Number"> <br> </span>
            Type of Passport <span class="letterspacing1"> <input class="passportno" type="text" [(ngModel)] = "user.Type" placeholder="Enter Type of Passport"> <br> </span>
            Country Code <span class="letterspacing2"> <input class="passportno" type="text" [(ngModel)] = "user.Country_Code" placeholder="Enter Country Code"> <br> </span>
            Given Name <span class="letterspacing3"> <input class="passportno" type="text" [(ngModel)] = "user.Given_Name" placeholder="Enter Given Name"> <br> </span>
            Surname <span class="letterspacing4"> <input class="passportno" type="text" [(ngModel)] = "user.Surname" placeholder="Enter Surname"> <br> </span>
            Sex <span class="letterspacing5"> <input class="passportno" type="text" [(ngModel)] = "user.Sex" placeholder="Enter Sex"> <br> </span>
            Nationality <span class="letterspacing6"> <input class="passportno" type="text" [(ngModel)] = "user.Nationality" placeholder="Enter Nationality"> <br> </span>
            Date of Birth <span class="letterspacing7"> <input class="passportno" type="text" [(ngModel)] = "user.Date_of_Birth" placeholder="Enter Date of Birth"> <br> </span>
            Place of Birth <span class="letterspacing8"> <input class="passportno" type="text" [(ngModel)] = "user.Place_of_Birth" placeholder="Enter Place of Birth"> <br> </span>
            Date of Issue <span class="letterspacing9"> <input class="passportno" type="text" [(ngModel)] = "user.Date_of_Issue" placeholder="Enter Date of Issue"> <br> </span>
            Date of Expiration <span class="letterspacing10"> <input class="passportno" type="text" [(ngModel)] = "user.Date_of_Expiration" placeholder="Enter Date of Expiration"> <br> </span>
            Issuing Authority <span class="letterspacing11"> <input class="passportno" type="text" [(ngModel)] = "user.Issuing_Authority" placeholder="Enter Issuing Authority"> <br> </span>
            <input type="file" (change)="onFileSelected($event)">
            <span class="letterspacing12"> <button class="passportno" (click) = "register()"> Register </button> </span>
        </div>
    </div>

</body>